<nz-modal [(nzVisible)]="isVisibleCreate" [nzTitle]="'Create User'" [nzContent]="modalContentCreate" [nzFooter]="modalFooterCreate">
      <ng-template #modalTitle>Create User</ng-template>
      <ng-template #modalContentCreate>
        <nz-form-label id="template-iqrk" class="label"  style="margin-top: 20px;" >categorycode</nz-form-label>
        <input nz-input placeholder="Enter categorycode" [(ngModel)]="categoryblk.categorycode" [ngModelOptions]="{standalone: true}" ngDefaultControl class="input form-control "/>
        <nz-form-label id="template-iqrk" class="label"  style="margin-top: 20px;" >productcode</nz-form-label>
        <input nz-input placeholder="Enter productcode" [(ngModel)]="categoryblk.productcode" [ngModelOptions]="{standalone: true}" ngDefaultControl class="input form-control "/>
        <nz-form-label id="template-iqrk" class="label"  style="margin-top: 20px;" >remarks</nz-form-label>
        <input nz-input placeholder="Enter remarks" [(ngModel)]="categoryblk.remarks" [ngModelOptions]="{standalone: true}" ngDefaultControl class="input form-control "/>
        <nz-form-label id="template-iqrk" class="label"  style="margin-top: 20px;" >ndproductdesc</nz-form-label>
        <input nz-input placeholder="Enter ndproductdesc" [(ngModel)]="categoryblk.ndproductdesc" [ngModelOptions]="{standalone: true}" ngDefaultControl class="input form-control "/>
        <nz-form-label id="template-iqrk" class="label"  style="margin-top: 20px;" >volume</nz-form-label>
        <input nz-input placeholder="Enter volume" [(ngModel)]="categoryblk.volume" [ngModelOptions]="{standalone: true}" ngDefaultControl class="input form-control "/>
        <nz-form-label id="template-iqrk" class="label"  style="margin-top: 20px;" >volumeunit</nz-form-label>
        <input nz-input placeholder="Enter volumeunit" [(ngModel)]="categoryblk.volumeunit" [ngModelOptions]="{standalone: true}" ngDefaultControl class="input form-control "/>
        <nz-form-label id="template-iqrk" class="label"  style="margin-top: 20px;" >categoryrequested</nz-form-label>
        <input nz-input placeholder="Enter categoryrequested" [(ngModel)]="categoryblk.categoryrequested" [ngModelOptions]="{standalone: true}" ngDefaultControl class="input form-control "/>
        <nz-form-label id="template-iqrk" class="label"  style="margin-top: 20px;" >ndcategoryreqddate</nz-form-label>
        <input nz-input placeholder="Enter ndcategoryreqddate" [(ngModel)]="categoryblk.ndcategoryreqddate" [ngModelOptions]="{standalone: true}" ngDefaultControl class="input form-control "/>
        <nz-form-label id="template-iqrk" class="label"  style="margin-top: 20px;" >ndtransfuseexpectdatetime</nz-form-label>
        <input nz-input placeholder="Enter ndtransfuseexpectdatetime" [(ngModel)]="categoryblk.ndtransfuseexpectdatetime" [ngModelOptions]="{standalone: true}" ngDefaultControl class="input form-control "/>
        <nz-form-label id="template-iqrk" class="label"  style="margin-top: 20px;" >ndautologunit</nz-form-label>
        <input nz-input placeholder="Enter ndautologunit" [(ngModel)]="categoryblk.ndautologunit" [ngModelOptions]="{standalone: true}" ngDefaultControl class="input form-control "/>
        <nz-form-label id="template-iqrk" class="label"  style="margin-top: 20px;" >nddirectedunit</nz-form-label>
        <input nz-input placeholder="Enter nddirectedunit" [(ngModel)]="categoryblk.nddirectedunit" [ngModelOptions]="{standalone: true}" ngDefaultControl class="input form-control "/>
        <nz-form-label id="template-iqrk" class="label"  style="margin-top: 20px;" >ndaltproduct</nz-form-label>
        <input nz-input placeholder="Enter ndaltproduct" [(ngModel)]="categoryblk.ndaltproduct" [ngModelOptions]="{standalone: true}" ngDefaultControl class="input form-control "/>
        <nz-form-label id="template-iqrk" class="label"  style="margin-top: 20px;" >ndgetunitsfromothfacility</nz-form-label>
        <input nz-input placeholder="Enter ndgetunitsfromothfacility" [(ngModel)]="categoryblk.ndgetunitsfromothfacility" [ngModelOptions]="{standalone: true}" ngDefaultControl class="input form-control "/>
      </ng-template>

      <ng-template #modalFooterCreate>
        <button nz-button nzType="default" (click)="handleCancel()">Cancel</button>
        <button nz-button nzType="primary" (click)="Create()" >Create</button>
      </ng-template>
</nz-modal>

<nz-modal [(nzVisible)]="isVisibleUpdate" [nzTitle]="'Update User'" [nzContent]="modalContentUpdate" [nzFooter]="modalFooterUpdate">
  <ng-template #modalTitle>Update User</ng-template>
  <ng-template #modalContentUpdate>
    <nz-form-label id="template-iqrk" class="label"  style="margin-top: 20px;" >categorycode</nz-form-label>
    <input nz-input placeholder="Enter categorycode" [(ngModel)]="categoryblk.categorycode" [ngModelOptions]="{standalone: true}" ngDefaultControl class="input form-control "/>
    <nz-form-label id="template-iqrk" class="label"  style="margin-top: 20px;" >productcode</nz-form-label>
    <input nz-input placeholder="Enter productcode" [(ngModel)]="categoryblk.productcode" [ngModelOptions]="{standalone: true}" ngDefaultControl class="input form-control "/>
    <nz-form-label id="template-iqrk" class="label"  style="margin-top: 20px;" >remarks</nz-form-label>
    <input nz-input placeholder="Enter remarks" [(ngModel)]="categoryblk.remarks" [ngModelOptions]="{standalone: true}" ngDefaultControl class="input form-control "/>
    <nz-form-label id="template-iqrk" class="label"  style="margin-top: 20px;" >ndproductdesc</nz-form-label>
    <input nz-input placeholder="Enter ndproductdesc" [(ngModel)]="categoryblk.ndproductdesc" [ngModelOptions]="{standalone: true}" ngDefaultControl class="input form-control "/>
    <nz-form-label id="template-iqrk" class="label"  style="margin-top: 20px;" >volume</nz-form-label>
    <input nz-input placeholder="Enter volume" [(ngModel)]="categoryblk.volume" [ngModelOptions]="{standalone: true}" ngDefaultControl class="input form-control "/>
    <nz-form-label id="template-iqrk" class="label"  style="margin-top: 20px;" >volumeunit</nz-form-label>
    <input nz-input placeholder="Enter volumeunit" [(ngModel)]="categoryblk.volumeunit" [ngModelOptions]="{standalone: true}" ngDefaultControl class="input form-control "/>
    <nz-form-label id="template-iqrk" class="label"  style="margin-top: 20px;" >categoryrequested</nz-form-label>
    <input nz-input placeholder="Enter categoryrequested" [(ngModel)]="categoryblk.categoryrequested" [ngModelOptions]="{standalone: true}" ngDefaultControl class="input form-control "/>
    <nz-form-label id="template-iqrk" class="label"  style="margin-top: 20px;" >ndcategoryreqddate</nz-form-label>
    <input nz-input placeholder="Enter ndcategoryreqddate" [(ngModel)]="categoryblk.ndcategoryreqddate" [ngModelOptions]="{standalone: true}" ngDefaultControl class="input form-control "/>
    <nz-form-label id="template-iqrk" class="label"  style="margin-top: 20px;" >ndtransfuseexpectdatetime</nz-form-label>
    <input nz-input placeholder="Enter ndtransfuseexpectdatetime" [(ngModel)]="categoryblk.ndtransfuseexpectdatetime" [ngModelOptions]="{standalone: true}" ngDefaultControl class="input form-control "/>
    <nz-form-label id="template-iqrk" class="label"  style="margin-top: 20px;" >ndautologunit</nz-form-label>
    <input nz-input placeholder="Enter ndautologunit" [(ngModel)]="categoryblk.ndautologunit" [ngModelOptions]="{standalone: true}" ngDefaultControl class="input form-control "/>
    <nz-form-label id="template-iqrk" class="label"  style="margin-top: 20px;" >nddirectedunit</nz-form-label>
    <input nz-input placeholder="Enter nddirectedunit" [(ngModel)]="categoryblk.nddirectedunit" [ngModelOptions]="{standalone: true}" ngDefaultControl class="input form-control "/>
    <nz-form-label id="template-iqrk" class="label"  style="margin-top: 20px;" >ndaltproduct</nz-form-label>
    <input nz-input placeholder="Enter ndaltproduct" [(ngModel)]="categoryblk.ndaltproduct" [ngModelOptions]="{standalone: true}" ngDefaultControl class="input form-control "/>
    <nz-form-label id="template-iqrk" class="label"  style="margin-top: 20px;" >ndgetunitsfromothfacility</nz-form-label>
    <input nz-input placeholder="Enter ndgetunitsfromothfacility" [(ngModel)]="categoryblk.ndgetunitsfromothfacility" [ngModelOptions]="{standalone: true}" ngDefaultControl class="input form-control "/>
  </ng-template>

  <ng-template #modalFooterUpdate>
    <button nz-button nzType="default" (click)="handleCancel()">Cancel</button>
    <button nz-button nzType="primary" (click)="Update()" >Update</button>
  </ng-template>
</nz-modal>


<nz-input-group [nzSuffix]="suffixIconSearch" style="width: auto;">
    <input type="text" nz-input placeholder="search..." [(ngModel)]="searchtickets" [ngModelOptions]="{standalone: true}" class="form-control" (ngModelChange)="search($event)"/>
</nz-input-group>
<ng-template #suffixIconSearch>
    <span nz-icon nzType="search" ></span>
</ng-template>

<button nz-button style="float: right; background-color: #2c2cbb; color: #fff;" (click)="showModal()">
    <span nz-icon nzType="file-add" nzTheme="outline"></span>
    New User
</button>

<div nz-row style="margin: 25px 0;">
    <div nz-col nzSpan="24">
        <nz-table #filterTable [nzData]="listOfData" nzTableLayout="fixed">
            <thead>
              <tr>
                <th nzColumnKey="categorycode" [nzSortFn]="true">categorycode</th>
                <th nzColumnKey="productcode" [nzSortFn]="true">productcode</th>
                <th nzColumnKey="remarks" [nzSortFn]="true">remarks</th>
                <th nzColumnKey="ndproductdesc" [nzSortFn]="true">ndproductdesc</th>
                <th nzColumnKey="volume" [nzSortFn]="true">volume</th>
                <th nzColumnKey="volumeunit" [nzSortFn]="true">volumeunit</th>
                <th nzColumnKey="categoryrequested" [nzSortFn]="true">categoryrequested</th>
                <th nzColumnKey="ndcategoryreqddate" [nzSortFn]="true">ndcategoryreqddate</th>
                <th nzColumnKey="ndtransfuseexpectdatetime" [nzSortFn]="true">ndtransfuseexpectdatetime</th>
                <th nzColumnKey="ndautologunit" [nzSortFn]="true">ndautologunit</th>
                <th nzColumnKey="nddirectedunit" [nzSortFn]="true">nddirectedunit</th>
                <th nzColumnKey="ndaltproduct" [nzSortFn]="true">ndaltproduct</th>
                <th nzColumnKey="ndgetunitsfromothfacility" [nzSortFn]="true">ndgetunitsfromothfacility</th>
                <th nzColumnKey="status" [nzFilters]="filterStatus" [nzFilterFn]="true">Status</th>
                <th nzWidth="100px"></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let data of filterTable.data">
                <td>{{ data.categorycode }}</td>
                <td>{{ data.productcode }}</td>
                <td>{{ data.remarks }}</td>
                <td>{{ data.ndproductdesc }}</td>
                <td>{{ data.volume }}</td>
                <td>{{ data.volumeunit }}</td>
                <td>{{ data.categoryrequested }}</td>
                <td>{{ data.ndcategoryreqddate }}</td>
                <td>{{ data.ndtransfuseexpectdatetime }}</td>
                <td>{{ data.ndautologunit }}</td>
                <td>{{ data.nddirectedunit }}</td>
                <td>{{ data.ndaltproduct }}</td>
                <td>{{ data.ndgetunitsfromothfacility }}</td>
                <td>
                  <nz-switch [ngModel]="true" nzCheckedChildren="Active" nzUnCheckedChildren="In-Active"></nz-switch>
                </td>
                <td>
                    <a nz-dropdown [nzDropdownMenu]="menu"  style="color: gray; font-size: 15px;">
                        ...
                        <span nz-icon nzType="down"></span>
                    </a>
                    <nz-dropdown-menu #menu="nzDropdownMenu">
                        <ul nz-menu>
                          <li nz-menu-item (click)="getUpdateById(data)">Edit</li>
                          <li nz-menu-item >
                            <a
                              nz-popconfirm
                              nzPopconfirmTitle="Are you sure delete this task?"
                              nzPopconfirmPlacement="bottom"
                              (nzOnConfirm)="confirmDelete(data)"
                              (nzOnCancel)="cancel()"
                            >
                              Delete
                            </a>
                          </li>
                        </ul>
                    </nz-dropdown-menu>
                </td>
              </tr>
            </tbody>
        </nz-table>
    </div>
</div>





